<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head" , {title:"Perfil de usuario"}) %>

<body>

    <header class="header-login">
        <div>
            <a href="/"> <img src="/images/JAMM-Gaming.png" class="logo-login"></a>
        </div>
          
    </header>
<br>
<body>
   <%- include ('../partials/header'); %>

   <!--Container: revisar clases-->
   <div class="container" style="margin-top: 40px;">
    <div class="row">
        <div class="col-md-3">
            <h2>Hola <%=userLogged.fullName %></h2>
            <img src="/images/users/<%= locals.userLogged.image %>">
            <br>
            <br>
            <div class="alert alert-succes"><%= userLogged.email %></div>
        </div>
    </div>
</div>
<div class="boton-editar">
    <a href="/users/userEdit">
    <button type="submit" class="boton-formulario2">Editar</button>
    </a>
</div>

<%- include('../partials/footer') %>
</body>
</html>